<div id="transferContainer"
     ng-swipe-right="$ctrl.onSwipeRight()"
     ng-swipe-left="$ctrl.onSwipeLeft()"
     flex-offset="{{$ctrl.offset}}"
     flex layout="row" layout-align="space-around center">
    <span>{{$ctrl.name}}</span>
    <md-progress-linear flex="70"
       class="no-md {{$ctrl.data.progress == 100 ? 'md-warn' : ''}}"
       value="{{$ctrl.data.progress}}"></md-progress-linear>
</div>