#headerContainer {
  width: calc(100% - .4vh);
  padding: .2vh;

  .md-nav-bar {
    height: unset;
    ul, li { block-size: 6vh }
    li:first-of-type { margin-left: 1vw }

    a, button, input {
      font-size: 1.5vh;
      line-height: 3vh;
      padding: 1.2vh 1.2vw;
      min-height: unset;
    }
    a, button {
      display:flex;
      min-width: 0;
      span { flex: 1 }
    }
    md-nav-ink-bar { height: .2vh; bottom: .1vh }
  }

  #searchRoom {
    display: flex;

    md-autocomplete, md-autocomplete-wrap { height: unset }
    button { padding: 0; width: unset; height: unset }
    md-icon { height: 2.5vh; width: 2.5vh; min-height: unset; min-width: unset; }

    md-autocomplete {
      min-width: 23vw;
      background-color: #303030;
      input {
        margin: 1.2vh; padding: 0;
        z-index: 2;
        color: rgb(3, 169, 244);
        display: flex; flex: 1 0 80%;
      }
    }

    input[type="search"] {
      min-width: 45vw;
      height: unset;
    }
  }
  .ng-hide { width: 0; }
}

.roomResult li {
  background-color: #303030;
  color: rgb(3, 169, 244);
}

.roomResult li:hover {
  background-color: rgb(66, 66, 66);
}

//Animations

.notVisible {
  visibility: hidden;
}

#searchRoom.ng-enter {
  animation: stretch ease-out 1.5s 1;
  visibility: visible !important;
}

#searchRoom.ng-leave {
  animation: stretch ease-in 1.5s 1 reverse;
}


@keyframes stretch {
  0% {
    width: 0;
    opacity: 0;
  }
  40% {
    width: 90px;
    opacity: 0.5;
  }
  70% {
    width: 220px;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
