<div id="headerContainer">
    <md-content>
        <md-nav-bar nav-bar-aria-label="navigation links" md-selected-nav-item="$ctrl.currentNavItem">
            <md-nav-item md-nav-sref="app.home" name="home">Home</md-nav-item>
            <md-nav-item md-nav-click="$ctrl.showSearch($event)" name="rooms">Room</md-nav-item>
            <md-nav-item id="searchRoom"
                         ng-if="$ctrl.searching"
                         md-nav-click="null"
                         name="search" disabled md-no-ink-bar>
                <md-autocomplete
                        md-search-text="$ctrl.searchRoom"
                        ng-keydown="$event.keyCode == 13 ? $ctrl.enterRoom() : null"
                        md-items="item in []"
                        md-menu-class="roomResult"
                        placeholder="Select the name of the room">
                    <md-item-template>
                        <span id="result">{{item}}</span>
                    </md-item-template>
                </md-autocomplete>
            </md-nav-item>
            <!--<md-nav-item md-nav-sref="app.profile({user: 'josep'})" name="profile">Profile</md-nav-item>-->
        </md-nav-bar>
    </md-content>
</div>