<div id="songContainer" flex
     layout="row" layout-align="end start"
     ng-click="$ctrl.select()">
    <div flex
         layout="row" layout-align="space-around center"
         layout-wrap>
        <span flex="noshrink">{{$ctrl.data.meta.title ? $ctrl.data.meta.title : $ctrl.data.name}}</span>
        <span class="time">{{$ctrl.data.meta.artist ? $ctrl.data.meta.artist : null}}
            {{$ctrl.data.meta.artist && $ctrl.data.meta.album ? ' - ' : null}}
            {{$ctrl.data.meta.album ? $ctrl.data.meta.album : null}}</span>
    </div>
    <span flex="10">{{$ctrl.duration}}</span>
</div>