<div id="googleProfile" layout="row" layout-align="center center">
    <img src="{{$ctrl.user.photo}}">
    <div layout="column">
        <md-input-container>
            <label>Name</label>
            <input ng-model="$ctrl.user.name" disabled>
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input ng-model="$ctrl.user.email" disabled>
        </md-input-container>
    </div>
</div>