#fileNotificationContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(128, 128, 128, 0.4);

    .notification {
        background-color: #303030;
        background-color: rgba(48,48,48,.9);
        color: #03a9f4;
        padding: 50px;
        z-index: 1;

        > div {
            margin-top: 12px;
        }

        md-icon {
            width: 50px;
            height: 50px;
        }

        md-icon.true {
            color: #ffc107;
        }

        md-icon.false {
            color: #FF0000;
        }
    }
}