<div id="fileNotificationContainer" layout="column" layout-align="center center">
    <div class="notification" layout="column" layout-align="space-around center">
        {{$ctrl.file.from}} wants to send you a file, do you accept?
        <div layout="row">
            <md-button ng-click="$ctrl.NotificationService.closeFileNotification(false)">
                <md-icon class="false" md-svg-icon="false"></md-icon>
            </md-button>
            <md-button ng-click="$ctrl.NotificationService.closeFileNotification(true)">
                <md-icon class="true" md-svg-icon="true"></md-icon>
            </md-button>
        </div>
    </div>
</div>