<style>
    #playerContainer { width: {{$ctrl.width}}% }
    #playerContentContainer {
        margin-right: {{!$ctrl.paused ? '3vh' : ''}}
    }
    #playerContentContainer .list, player-history {
        height: {{$ctrl.contentHeight}}; min-height: 20vh;
    }
</style>

<div id="playerContainer" ng-class="$ctrl.class" hm-press="$ctrl.selectFiles()" hm-recognizer-options='{"type":"press","time":1000}'>
    <md-card>
        <md-nav-bar
                ng-hide="$ctrl.reduced"
                md-selected-nav-item="$ctrl.mode"
                md-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="$ctrl.changeMode('audio')" name="audio">Audio</md-nav-item>
            <md-nav-item md-nav-click="$ctrl.changeMode('video')" name="video">Video</md-nav-item>
            <md-nav-item class="end" md-nav-click="$ctrl.toggleHistory()" name="{{$ctrl.mode}}" md-no-ink-bar>
                <md-icon class="{{$ctrl.history ? null : 'inactive'}}" md-svg-icon="history"></md-icon>
            </md-nav-item>
        </md-nav-bar>

        <md-card-content id="playerContentContainer"
                         layout="{{$ctrl.orientation}}"
                         layout-align="{{$ctrl.orientation == 'row' ? 'space-around start' : 'start center'}}" ng-cloak>

            <md-card-content id="audioList" class="list"
                             layout="column"
                             flex="{{$ctrl.reduced || !$ctrl.history ? 100 : 50}}"
                             ng-if="$ctrl.mode === 'audio'"
                             ng-show="$ctrl.showList">
                <md-list flex class="md-dense" ng-show="$ctrl.mode == 'audio'">
                    <md-list-item
                            ng-repeat="song in $ctrl.list.audio"
                            ng-click="$ctrl.selectMedia(song)"
                            ng-class="song.class"
                            class="md-3-line">
                        <song flex data="song" on-select="$ctrl.selectMedia($media)"></song>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-if="$ctrl.list.audio.length == 0">
                        <div class="md-list-item-text">
                            <h2>Drop your music files here</h2></div>
                    </md-list-item>
                </md-list>
            </md-card-content>

            <md-card-content id="videoList" class="list"
                             flex
                             ng-if="$ctrl.mode === 'video'"
                             ng-show="$ctrl.showList">
                <md-list class="md-dense" ng-if="$ctrl.mode == 'video'">
                    <md-list-item
                            ng-repeat="video in $ctrl.list.video"
                            ng-click="$ctrl.selectMedia(video)"
                            ng-class="video.class"
                            class="md-3-line">
                        <clip data="video" detail="$ctrl.listDetails"></clip>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-if="$ctrl.list.video.length == 0">
                        <div class="md-list-item-text">
                            <h2>Drop your video files here</h2></div>
                    </md-list-item>
                </md-list>
            </md-card-content>


            <video id="playerMedia"
                   ng-show="$ctrl.media.type == 'video'"
                   style="max-width: {{ !$ctrl.showList && !$ctrl.history ? 'calc(100% - 2vw)':'calc(50% - 2vw)'}}"
                   autoplay></video>
            <player-history now="$ctrl.media"
                            flex="{{$ctrl.reduced ? 100 : 50}}"
                            ng-show="$ctrl.history"
                            on-update="$ctrl.updateHistory(history)"></player-history>
        </md-card-content>
        <md-divider></md-divider>
        <div id="controlContainer" flex layout="row" layout-align="space-between center" ng-if="$ctrl.media"
             hm-press="$event.stopPropagation()">
            <span>{{$ctrl.currentT}}</span>
            <md-slider ng-model="$ctrl.progress"
                       ng-click="$ctrl.setPlayerTime()"
                       ng-disabled="$ctrl.remote"
                       min="0"
                       max="{{$ctrl.max}}" flex></md-slider>
            <span>{{$ctrl.maxT}}</span>
            <div id="volumeContainer"
                 style="height:{{$ctrl.volumeHeight}}"
                 ng-if="!$ctrl.paused" ng-cloak
                 layout="column" layout-align="center center">
                <md-icon flex="nogrow" md-svg-icon="volume-high" ng-click="$ctrl.setVolume(100)"></md-icon>
                <md-slider flex ng-model="$ctrl.volume"
                           md-vertical
                           ng-change="$ctrl.setVolume()"></md-slider>
                <md-icon flex="nogrow"  md-svg-icon="mute"
                         ng-click="$ctrl.setVolume(0)"></md-icon>
            </div>
        </div>

        <md-card-actions layout="row" layout-align="space-around center">
            <div flex="75" id="playerControlsContainer" layout="row" layout-align="space-around center">
                <md-icon ng-click="$ctrl.previousMedia()" md-svg-icon="previous"></md-icon>
                <md-icon ng-click="$ctrl.togglePlay()" md-svg-icon="{{$ctrl.paused ? 'play' : 'pause'}}"></md-icon>
                <md-icon md-svg-icon="next" ng-click="$ctrl.nextMedia()"></md-icon>
            </div>
            <md-icon flex md-svg-icon="menu" ng-click="$ctrl.toggleView()"></md-icon>
        </md-card-actions>
    </md-card>
</div>