#playerContainer {
  position: absolute;
  right: 1vw;
  top: 13vh;

  md-card { margin: 1vh 2vw 0 1vw }
  md-icon { outline: none }
  ::-webkit-scrollbar { display: none; }

  .md-nav-bar {
    height: unset; line-height: 3vh;

    nav { margin-bottom: .2vh }
    li:first-of-type { margin: 0 .8vw }
    li.end {
      position: absolute;
      right: 1vw;
      md-icon { height: 3vh; width: 3vh }
      md-icon.inactive path { color: #b9b9b9  }
      //md-icon.active { .st0 { fill: rgb(255,193,7) } }
      //.st0 { fill: rgb(33,150,243) }
    }

    button {
      min-width: unset; min-height: unset; line-height: unset;
      padding: 1vh;
      margin: 0 .4vw;
      font-size: 1.75vh;
      span { float: unset; line-height: unset }
    }

    md-nav-ink-bar { height: .1vh }
  }
  #playerContentContainer {
    max-height: 45vh;
    padding: 1vw 1vw 0;

    .list {
      min-width: 50%;
      max-height: 43vh;
      overflow-y: scroll;
      padding: 0; margin-right: .5vw;
      font-size: 1vh;

      md-list { padding: 1vh 0 }

      md-list-item {
        min-height: unset; min-width: unset;
        padding: 0 1.6vh;
        .md-button {
          min-height: 4vh; min-width: unset; line-height: 3vh;
          padding: .5vh; font-size: 1.5vh;
          button { position: absolute }
        }
        :before { min-height: unset; }
        h2 { margin: 0 }
        .md-list-item-text { margin: unset }
      }
      md-list-item::before { min-height: unset }
    }

    .selected { background-color: rgba(255, 193, 7, 0.4); }


    md-divider { margin: auto 0; }

    video {
      max-width: calc(100% - 2vw);
      min-height: 20vh;
      max-height: 32vh;
      margin: auto;
    }

    player-history { max-height: 43vh }
  }


  #controlContainer {
    font-size: 3vh;
    position: relative;

    md-slider {
      height: 7vh; margin: 0 .8vh;
      .md-slider-content { display: flex; height: 100% }
      .md-track-container { align-self: center; top: unset; height: .2vh }
      .md-thumb-container { width: 2vh; height: 2vh; margin: 0 }
      .md-thumb, .md-thumb:after, .md-focus-ring, .md-focus-thumb, .md-disabled-thumb { width: 2vh; height: 2vh; top: 0; left: 0; border-width: .2vh}
    }

    span { line-height: 4vh; padding: 0 .5vw; font-size: 2vh }
    #volumeContainer {
      position: absolute;
      bottom: 6.5vh; right: 0;
      md-icon { width: 3vh; height: 3vh; margin: .2vh }
      md-slider {
        padding: 0;
        width: 100%;
        .md-slider-content { display: flex; flex-flow: column; width: 100% }
        .md-track-container { height: 100%; width: .2vh; left: unset; align-self: center }
        .md-slider-wrapper { width: unset; padding: 0 }
        .md-thumb-container { left: unset; align-self: center; transform: translate3d(0,50%,0) }
        .md-thumb { left: 0 }
        .md-thumb:after { left: 0; border-width: .2vh }
      }
    }
  }

  md-card-actions {
    padding: 1vh 0; margin: 1vh 1vw;
    md-icon {
      height: 3vh; width: 3vh;
    }
  }
}

#playerContainer.full {
  width: 55%;
}

#playerContainer.initial {
  width: 33%;
}

.reduced { max-height: 150px; }


