<div id="clipContainer"layout="row" layout-align="space-between center">
    <h3>{{$ctrl.data.name}}</h3>
    <p>{{$ctrl.data.author}}</p>
    <span>{{$ctrl.duration}}</span>
    <img ng-show="$ctrl.detail" src="{{$ctrl.data.thumbnail}}">
</div>