
<div id="fileNavContainer"
     hm-press="$ctrl.selectFile()"
     layout="column"
     ng-class="$ctrl.class" flex="{{$ctrl.size}}">
    <md-icon ng-click="$ctrl.toggleSize()" md-svg-icon="{{$ctrl.icon.size}}"></md-icon>
    <md-subheader>Files</md-subheader>
    <h1 ng-if="$ctrl.files.length == 0 && $ctrl.class !== ''">Drop files here for sharing them with all</h1>
    <div layout="row" layout-align="start center" ng-show="$ctrl.showFiles" layout-wrap>
        <div class="file" ng-repeat="file in $ctrl.files.files track by $index">
            <file ng-if="file.type !== 'folder'" file="file" on-delete="$ctrl.removeFile($id)"></file>
            <folder id="{{file.folderId}}" ng-if="file.type === 'folder'" folder="file" on-delete="$ctrl.removeFolder($id)"></folder>
        </div>
        <folder ng-repeat="folder in $ctrl.files.folders"
                files="folder.files"
                on-delete="$ctrl.removeFolder($folder)"></folder>
    </div>
</div>