
#fileNavContainer {
  background-color: rgba(66, 66, 66, 0.4);
  border-top-right-radius: 12px;
  min-height: 5vh;
  max-height: 50vh;
  min-width: 20vw;
  width: calc(100% + 20px);
  margin: auto;
  position: fixed;
  bottom: 0px;
  border: 1px solid rgba(170, 170, 170, 0.1);

  .md-subheader {
    background-color: transparent;
    font-size: 2vh;
    line-height: 2vh;
    .md-subheader-inner { padding: 1.8vh }
  }

  //.file { width: 9% }

  button { min-height: unset }
  > md-icon {
    position: absolute;
    right: 1vw;
    padding: 1vh;
    height: 3vh;
    width: 3vh;
    z-index: 10;
    -webkit-appearance: none;
  }
}

#fileNavContainer.drag-on {
  background-color: rgba(255, 193, 7, 0.6);
}

#fileNavContainer:hover {
  background-color: rgba(66, 66, 66, 0.6);
}

#fileNavContainer.full {
  overflow: scroll;
  min-height: 50vh;
  > md-icon {
    position: fixed;
  }
}