<md-divider></md-divider>
<div id="chatConversationContainer" layout="row" layout-align="space-between center" layout-padding="5px">
    <div layout="column" layout-align="center center">
        <img class="md-avatar" src="{{$ctrl.conversation.with.img}}" ng-if="$ctrl.conversation.with.img">
        <span class="md-avatar" style="background: {{$ctrl.avatar.color}}" ng-if="!$ctrl.conversation.with.img"></span>
    </div>
    {{$ctrl.conversation.with.name}}
    <span>
        <md-icon md-svg-icon="chat"></md-icon>
        {{$ctrl.conversation.msgCounter}}
    </span>
</div>
<md-divider></md-divider>