<div id="facebookProfile" layout="row" layout-align="center center">
    <img src="{{$ctrl.user.photo}}">
    <div layout="column" layout-align="center center" flex>
        <md-input-container>
            <label>Name</label>
            <input ng-model="$ctrl.user.name" disabled></input>
        </md-input-container>
        <md-input-container>
            <label>Birthday</label>
            <input ng-model="$ctrl.user.birthday" disabled></input>
        </md-input-container>
        <md-input-container>
            <label>Gender</label>
            <input ng-model="$ctrl.user.gender" disabled></input>
        </md-input-container>
    </div>
</div>
