<div id="homeContainer" layout="column" layout-fill>
    <md-toolbar class="md-hue-2" md-scroll-shrink ng-if="true">
        <h2>Create a room</h2>
    </md-toolbar>
    <md-divider></md-divider>
    <div class="content" layout="column" layout-fill>
        <div class="steps" layout="column" layout-align="start center" layout-fill>
            <form name="room">
                <md-input-container>
                    <label>Choose a name for your room</label>
                    <input name="name"
                           ng-keydown="$event.keyCode == 13 ? $ctrl.enterRoom() : null"
                           placeholder="{{$ctrl.room.name}}"
                           ng-model="$ctrl.room.name" required>
                    <ng-messages for="room.name.$error">
                        <ng-message when="link">
                            <span>{{$ctrl.base + $ctrl.room.name}}</span>
                            <a ui-sref="app.room({name: $ctrl.room.name})">
                                <md-icon md-svg-icon="copy"></md-icon>
                            </a>
                        </ng-message>
                    </ng-messages>
                    <md-icon class="button-end" ng-show="$ctrl.room.name" ng-click="$ctrl.enterRoom()" md-svg-icon="forward"></md-icon>
                </md-input-container>
            </form>
        </div>
    </div>
</div>
</div>