#homeContainer {
  md-toolbar {
    padding-left: 1vw;
    min-height: fit-content;
    font-size: 2vh;
  }

  div.steps {
    margin: auto;
    padding: 5px;
    background: url('../../../resources/img/room.jpg') center/cover no-repeat fixed;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 3vh;

    form {
      margin-top: 7vh;

      md-input-container {
        margin: 2vh; padding: .1vh;

        label { width: 100%; }
        .button-end {
          position: absolute;
          min-height: unset; min-width: unset;
          height: 3vh; width: 3vh;
          left: 100%; top: 0;
        }
      }

      input {
        font-size: 3vh;
        text-align: center;
        line-height: 2.6vh;
        padding: .2vh .2vh .1vh;
        border-width: 0 0 .1vh;
        height: 3vh;
      }

      ng-message {
        a, span { font-size: 2vh; line-height: 2vh }
        md-icon { height: 3vh; width: 3vh; min-width: unset; min-heigth: unset }
      }
    }


  }

}