<div id="chatContainer" layout="column" layout-align="start start" flex layout-fill>
    <div id="{{$ctrl.id}}" class="chatContentContainer" layout="column" layout-align="start start" flex="grow">
        <chat-msg ng-repeat="msg in $ctrl.content track by $index" msg="msg"></chat-msg>
    </div>
    <div id="chatInputContainer" layout="row" layout-align="space-between end" flex="15">
        <textarea id="chatInput"
                  flex
                  style="height:{{$ctrl.chatInput.height}}"
                  ng-model="$ctrl.msg"
                  placeholder="{{$ctrl.chatInput.placeholder}}"
                  ng-keypress="$ctrl.checkMsg($event)"></textarea>
        <md-button ng-click="$ctrl.send();" class="md-raised md-primary">
            <md-icon class="send-icon" md-svg-icon="forward"></md-icon>
        </md-button>
    </div>
</div>