#chatContainer {
  padding: 0;
  position: relative;

  md-icon { height: 3vh; width: 3vh }

  @media screen and (min-width: 600px) {
    min-width: 60vh;
    min-height: 198px;
  }

  .chatContentContainer {
    overflow-y: scroll;
    width: 100%;
    background-color: #303030;

    chat-msg { width: calc(100% - 2vw); }

    #chatMsgContainer {
      .md-avatar { height: 3vh; width: 3vh; }
      .cloud > div { padding-bottom: 0 }
    }
  }

  #chatInputContainer {
    width: 100%;
    background-color: #303030;

    textarea {
      line-height: 2vh;
      font-size: 2vh;
      padding: .5vh 0 .5vh .3vw;
      background-color: #303030;
      color: #03a9f4;
      text-align: right;
      border: solid 1px #353535;
      resize: none;
      outline: none;
      z-index: 1;
      max-height: 40vh;
    }

    button {
      min-width: .5vw; min-height: 100%;
      line-height: 3vh;
      margin: .5vh 0; padding: 0 2vw;
      .send-icon { margin: 0 }
    }

  }
}