<div id="fileContainer" ng-if="$ctrl.mode != 1">
    <md-icon class="close" md-svg-icon="close" ng-click="$ctrl.delete()"></md-icon>
    <md-card>
        <md-card-title ng-class="$ctrl.file.class">
            <md-card-title-text>{{$ctrl.getName()}}</md-card-title-text>
        </md-card-title>

        <md-card-content layout="row" layout-align="center center">
            <md-icon class="main" md-svg-icon="file"></md-icon>
        </md-card-content>

        <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-icon-button">
                <md-icon class="download" ng-click="$ctrl.download()" md-svg-icon="download"
                         ng-class="$ctrl.file.class"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
    <div id="fileLoader" layout="row" layout-align="center center" ng-show="$ctrl.file.progress < 100" >
        <md-progress-circular
                md-mode="determinate"
                md-diameter="75px"
                ng-class="$ctrl.file.class"
                value="{{$ctrl.file.progress}}"></md-progress-circular>
    </div>
</div>

<div id="fileContainer" class="mode1" ng-if="$ctrl.mode == 1">
    <md-icon class="close" md-svg-icon="close" ng-click="$ctrl.delete()"></md-icon>
    <md-card ng-click="$ctrl.download()">
        <md-card-title><md-card-title-text>
            <span class="md-headline">{{$ctrl.file.name}}</span>
            <span class="md-subhead" ng-if="$ctrl.file.from">{{$ctrl.file.from}}</span>
        </md-card-title-text></md-card-title>
        <md-progress-linear
                md-mode="determinate" value="{{$ctrl.file.progress}}"></md-progress-linear>
    </md-card>
</div>