#fileContainer {
  position: relative;
  display: flex; flex-flow: column nowrap;

  md-card { margin: 1vh }
  md-icon { width: 3vh; height: 3vh }
  md-card-title {
    overflow: hidden;
    padding: 1vh 5vw;
    text-align: end;
    font-size: 3vh;
  }

  md-card-content {
    padding: 0 5vw;
  }

  md-card-actions {
    margin: 1vh;
    button {
      height: unset;
      width: unset;
      margin: 1vh; padding: .8vh;
    }
  }

  .loaded {
    md-icon {
      font-color: black;
    }
  }

  #fileLoader {
    background-color: rgba(48, 48, 48, 0.49);
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
  }



  md-icon.main {
    width: 5vh;
    height: 5vh;
    padding: .5vh 0px .5vh 0px;
  }

  md-progress-circular.complete {
    path {
      stroke: #ffc107;
    }
  }
  md-icon.complete {
    cursor: pointer;
  }

  md-icon.close {
    position: relative;
    margin: 0; align-self: flex-end;
    z-index: 1;
  }

}

#fileContainer.mode1 {
  md-card-title-text {
    padding: 0;
    .md-headline {
      max-width: 250px;
      font-size: 3vh;
      word-wrap: break-word;
    }
    .md-subhead {
      color: #03a9f4;
    }
  }


}