<div id="loaderContainer" layout="column" layout-align="center center" ng-if="$ctrl.isVisible">
    <md-progress-circular
            md-mode="indeterminate"
            class="md-warn"
            ng-disabled="!$ctrl.isVisible"></md-progress-circular>
    <span>{{$ctrl.message}}</span>
    <div id="loaderActions" layout="row" layout-align="center start">
        <md-button class="md-accent md-raised" ng-if="$ctrl.show.error" ng-click="$ctrl.reconnect()">
            <md-icon md-svg-icon="reload" aria-label=""></md-icon>
            Reconnect
        </md-button>
        <md-button ng-click="$ctrl.turnOff()" class="md-accent md-raised" ng-if="$ctrl.show.error">
            <md-icon md-svg-icon="close" aria-label=""></md-icon>
            Cancel
        </md-button>
    </div>
</div>