#loaderContainer {
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  opacity: 0.5;
  position: fixed;
  z-index: 99;
  font-size: 2.5vh;

  md-progress-circular {
    //margin-bottom: 1vh;
    height: 10vh !important; width: 10vh !important;
    svg {
      height: 10vh !important; width: 10vh !important;
      transform-origin: unset !important;
    }
  }
  span { color: black }

  #loaderActions {
    button {
      font-size: 2vh; line-height: 10vh;
      min-width: unset; min-height: unset;
      md-icon { min-width: unset; min-height: unset; width: 3vh; height: 3vh }
    }
  }
}