<div id="userListContainer">
    <md-sidenav class="md-sidenav-left" md-component-id="users">
        <md-toolbar class="md-primary"><div class="md-toolbar-tools">Users</div></md-toolbar>
        <md-content>
            <md-list>
                <!--<md-subheader>Publishers</md-subheader>-->
                <md-list-item ng-repeat="publisher in $ctrl.publishers" ng-click="$ctrl.show(publisher.id)">
                    <img class="user-photo md-avatar" src="{{publisher.photo}}" ng-if="publisher.photo">
                    <span class="md-avatar" ng-if="!publisher.photo"></span>
                    <a>{{publisher.name == '' ? 'You' : publisher.name}}</a>
                </md-list-item>
                <!--<md-subheader>Subscribers</md-subheader>-->
                <md-list-item ng-repeat="subscriber in $ctrl.subscribers track by $index" ng-click="$ctrl.show(subscriber.connectionId)">
                    <img class="md-avatar" src="{{subscriber.photo}}" ng-if="subscriber.photo">
                    <span class="md-avatar" style="background:{{::$ctrl.randomColor()}}" ng-if="!subscriber.photo"></span>
                    <a>{{!subscriber.name||subscriber.name == '' ? 'Unknown '+$index : subscriber.name}}</a>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>