<div id="folderList" layout="column" layout-align="end none">
    <md-grid-list md-cols="{{$ctrl.columns}}" md-row-height="100px" md-gutter="12px">
        <md-grid-tile ng-repeat="file in $ctrl.files" layout="row" layout="center center">
            <file file="file" mode="1" on-delete="$ctrl.removeFile($id)"></file>
        </md-grid-tile>
    </md-grid-list>
</div>
