<div id="folderContainer">
    <md-icon md-svg-icon="close" ng-click="$ctrl.close()" class="close"></md-icon>
    <md-card ng-click="$ctrl.openFolder()">
        <md-icon md-svg-icon="folder"></md-icon>
        <md-card-actions layout="row" layout-align="center center">
            <md-icon md-svg-icon="download" ng-click="$ctrl.download()"></md-icon>
        </md-card-actions>
    </md-card>
</div>