#folderContainer {

  md-icon.close {
    position: relative;
    top: 24px;
  }

  md-card {
    padding: 24px;

    md-icon {
      height: 60px;
      width: 60px;
    }

    md-card-actions {
      md-icon { height: 24px; width: 24px }
    }
  }
}

.files-folder-panel {
  height: 30%;
  width: 30%;

  #folderList {
    height: 100%;
    width: 100%;
  }

  md-grid-list {
    width: 100%;
    background-color: rgba(130, 130, 130, 0.5);
    border: 1px solid rgba(230, 230, 230, 0.5);
    border-radius: 5px;
  }

  file {
    height: 100%;
    width: 100%;

    #fileContainer {
      //width: 100px;
      //height: 100px;
      margin: auto;
    }
    md-card {
      //width: 100px;
      //height: 100px;
    }
  }
}