<div id="profileContainer">
    <div layout="columm" layout-align="center center">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="{{$ctrl.user.photo}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{$ctrl.user.name}}</span>
                    <span class="md-subhead">{{$ctrl.user.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <div id="imgContainer" layout="row" layout-align="center">
                <img src="{{$ctrl.user.photo}}"
                     ng-mouseover="$ctrl.showEditImg = true"
                     ng-mouseleave="$ctrl.showEditImg = false">
                <md-button
                        id="editImg"
                        class="md-fab md-mini md-accent"
                        ng-show="$ctrl.showEditImg"
                        ng-click="$ctrl.changePhoto()">
                    <md-icon md-svg-icon="image"></md-icon>
                </md-button>
            </div>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{$ctrl.user.name}}</span>
                    <span class="md-subhead">{{$ctrl.user.name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <span class="md-media-lg">{{$ctrl.user.name}}</span>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <form name="userInfo" layout="column">
                    <md-input-container>
                        <label>Full Name</label>
                        <input name="fullName"
                               ng-model="$ctrl.user.fullName">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input name="password"
                               ng-if="!$ctrl.pwdFlag"
                               ng-keyup="$event.keyCode == 13 ? $ctrl.pwdFlag = !$ctrl.pwdFlag : return"
                               placeholder="Type a new password"
                               ng-model="$ctrl.user.newPassword">
                        <input name="oldPassword"
                               ng-if="$ctrl.pwdFlag"
                               ng-keyup="$event.keyCode == 13 ? $ctrl.checkPassword() : return"
                               placeholder="Type the old password"
                               ng-model="$ctrl.user.oldPassword">
                    </md-input-container>
                </form>
                <div id="socialContainer" layout="row" layout-align="center">
                    <md-button><md-icon md-svg-icon="facebook"></md-icon></md-button>
                    <md-button><md-icon md-svg-icon="google"></md-icon></md-button>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-card-icon-actions></md-card-icon-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>