#profileContainer {
  md-card {
    padding: 20px;
    min-width: 70%;
    max-width: 90%;

    #imgContainer {
      max-height: 300px;
      max-width: 100%;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    #socialContainer {
      button {
        border-radius: 50%;
        min-width: 24px;
      }
    }

    #editImg {
      margin-left: -48px;
      left: -5px;
    }
  }
}