<div id="addRoomContainer" layout="column" layout-align="start" layout-fill>
    <md-subheader class="md-primary">Create a new room</md-subheader>
    <div class="card" layout="row">
        <md-card layout="column" layout-align="start" flex="66">
            <md-switch ng-model="$ctrl.isPublic">{{$ctrl.isPublic ? 'Public' : 'Private'}}</md-switch>
            <div layout="row" layout-align="space-around start">
                <div layout="column" layout-align="space-between start">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="$ctrl.name">
                    </md-input-container>
                    <md-input-container ng-if="!$ctrl.isPublic">
                        <label>Password</label>
                        <input ng-model="$ctrl.password">
                    </md-input-container>
                </div>
                <div id="inviteContainer" layout="column" layout-align="space-around center">
                    <md-autocomplete
                            md-search-text="$ctrl.searchUser"
                            md-items="user in $ctrl.userList"
                            md-search-text-change=""
                            md-min-length="3"
                            placeholder="Invite your friends">
                        <md-item-template><span md-highlight-text="$ctrl.searchUser">{{user}}</span></md-item-template>
                        <md-not-found>User not found</md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <md-button>OK</md-button>
        </md-card>
    </div>
</div>