#addRoomContainer {
  md-switch {
    margin: 5px 10px;
  }

  .card {
    margin-top: 100px;
  }

  md-card {
    margin: auto;
    > div {
      margin-left: 20px;
    }
  }

  #inviteContainer {
    md-autocomplete {
      margin: 18px 0;
      background-color: rgba(255,255,255,0.15);
      input {
        color: rgb(3, 169, 244);
      }
    }
  }
}