#chatMsgContainer {
    outline: none;
    font-size: 2vh;
    width: 100%;
    span { margin-left: .5vw; }

  #avatarContainer {
    margin: .5vh;

    .md-avatar {
      background: #ff9d13;
      height: 3vh;
      width: 3vh;
      border-radius: 50%;
    }
  }

  .cloud {
    border: .1vh solid rgba(3,169,244,0.5);
    padding: 0 .3vw;
    word-break: break-word;
    position: relative;
    padding-top: .5vh;
  }

  .cloud.local { border-radius: 0 .9vh .9vh }

  .cloud.external { border-radius: .9vh 0 .9vh .9vh }

  .cloud:after {
    position: absolute;
    content: "";
    border-style: solid;
  }

  .cloud.external:after {
    border-width: 0 0 1vh 1vh;
    border-color: transparent transparent transparent rgba(3,169,244,0.5);
    top: -.1vh;
    right: -1vh;
  }

  .cloud.local:after {
    border-width: 0 1vh 1vh 0;
    border-color: transparent rgba(3,169,244,0.5) transparent transparent ;
    top: -.1vh;
    left: -1vh;
  }

}

chat-msg { margin: .5vh 3vh }