
<div id="chatMsgContainer"
     ng-click="$ctrl.test()"
     layout="row"
     layout-align="{{$ctrl.orientation}} center"
     flex>
    <div class="cloud {{$ctrl.cloud.class}}" layout="row" layout-align="start start" layout-padding>
        <div id="avatarContainer" layout="column" layout-align="start start" flex-order="{{$ctrl.avatar.pos}}">
            <img class="md-avatar" src="{{$ctrl.msg.photo}}" ng-if="$ctrl.msg.photo">
            <span class="md-avatar" style="background: {{$ctrl.avatar.color}}" ng-if="!$ctrl.msg.photo"></span>
        </div>
        <div layout="column" layout-align="space-around {{$ctrl.orientation}}" flex-order="2">
            <span>{{$ctrl.msg.fromName}}</span>
            <span ng-repeat="line in $ctrl.msg.content.split('\n') track by $index">{{line}}</span><br>
        </div>
        <div layout="column" layout-align="end start" flex-order="{{$ctrl.avatar.pos == 3 ? 1 : 3}}">
            <span ng-if="$ctrl.flags.sending"><md-icon md-svg-icon=""></md-icon></span>
            <span ng-if="$ctrl.flags.sent"><md-icon md-svg-icon=""></md-icon></span>
        </div>
    </div>
</div>