<div id="roomContainer" ng-keypress="$event.code == 'KeyC' && $event.ctrlKey ? $ctrl.showChat($event) : null" layout="column" flex
     ng-cloak>

    <loader></loader>
    <user-list></user-list>
    <player on-update="$ctrl.updatePlayer(player)"></player>
    <md-subheader class="roomHeader">Room {{$ctrl.room.name}}
        <room-menu data="$ctrl.roomMenu" on-update="$ctrl.updateMenu(menu)"></room-menu>
    </md-subheader>

    <div id="usersContainer" layout="column" layout-align="start center" flex>
        <local-user id="{{$ctrl.users.publishers[0].connectionId}}"
                    user="$ctrl.users.publishers[0]"
                    on-update="$ctrl.updateLocalUser(localUser)"
                    style="width: {{$ctrl.css.localUser.width}}%;
                    max-width: {{$ctrl.css.localUser.maxWidth}}%;
                    margin-right: {{$ctrl.usersNav.publ.offsetX}}%"
                    ng-class="$ctrl.class.localUser"
                    publisher="$ctrl.users.publishers[0].publisher"></local-user>
        <div id="subscribers" class="subscriber"
             layout="row" layout-align="initial center" flex="auto"
             layout-wrap="{{$ctrl.usersNav.subs.wrap}}"
             style="margin-right: {{$ctrl.usersNav.subs.offsetX}}%;
                    margin-top: {{$ctrl.usersNav.subs.offsetY}}">
            <user ng-repeat="subscriber in $ctrl.users.subscribers track by $index"
                  flex-order="{{subscriber.pos}}"
                  user="subscriber" stream="subscriber.stream"
                  on-new-msg="$ctrl.findChat(id)"
                  on-update="$ctrl.updateUser(changes)"
                  id="{{subscriber.connectionId}}"
                  ng-class="subscriber.class"></user>
        </div>
    </div>

    <file-nav files="$ctrl.fileNav"></file-nav>

    <!--<chat chat="$ctrl.chatContent" name="$ctrl.users.publishers[0].name" user="$ctrl.users.publishers[0]"></chat>-->
    <div id="globalChatContainer" flex ng-class="$ctrl.chat.class">
        <chat content="$ctrl.chat.content" local-user="$ctrl.users.publishers[0]"></chat>
        <md-icon md-svg-icon="close" ng-click="$ctrl.chat.class = 'inactive'"></md-icon>
    </div>

    <div id="dragObject">
        <file flex="10" id="dragfile" ng-repeat="file in $ctrl.drag.file" file="file" draggable="true"></file>
    </div>
    <div id="notifications">
        <file-notification ng-repeat="file in $ctrl.notifications.fileNotifications" file="file"></file-notification>
    </div>
</div>