#roomContainer {
  min-height: 100%;

  md-icon { min-width: unset; min-height: unset }

  #usersContainer {
    background: url('../../../resources/img/room.jpg') center/cover no-repeat fixed;
    min-height: 100%;
  }

  .md-subheader.roomHeader {
    color: #03a9f4;
    background-color: rgba(72, 72, 72, 0.6);
    font-size: 1.5vh;
    .md-subheader-inner { padding: 1vh; }
  }

  #subscribers {
    overflow-x: auto;
  }

  .alerted {
    animation: alert 3s;
  }

  @keyframes alert {
     0% {
       background-color: #ffc107;
     }
     40% {
       background-color: #ff9d13;
     }
     70% {
       background-color: rgb(3,169,244);
     }
     100% {
       background-color: #ffc107;
     }
   }

}


#globalChatContainer {
  position: fixed;
  top: 100%;
  width: 100%;
  #chatContainer {
    height: 40vh;
    chat-msg { width: 90vw }
  }
  > md-icon {
    height: 3vh; width: 3vh;
    outline: none;
    position: absolute;
    top: 1vh;
    right: 1vw;
  }
}

#globalChatContainer.initial {
  display: none;
}

#globalChatContainer.active {
  animation: up .5s linear 1 forwards;
}

#globalChatContainer.inactive {
  animation: down .8s linear 1 backwards;
}

@keyframes up {
  0% {top: 100%}
  25% {top: 90%}
  50% {top: 80%}
  75% {top: 70%}
  100% {top: 60%}
}

@keyframes down {
  0% {top: 60%}
  25% {top: 70%}
  50% {top: 80%}
  75% {top: 90%}
  100% {top: 100%}
}
