<div id="roomsContainer" layout="column" flex layout-fill ng-cloak>
    <md-content>
        <md-subheader class="md-primary">Rooms</md-subheader>
        <md-grid-list md-cols="2" md-gutter="1em" md-row-height="2:2">
            <md-grid-tile class="green" md-rowspan="2" md-colspan="1">
                <md-grid-tile-footer>
                    <h3>Rooms 1</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="yellow">
                <md-grid-tile-footer>
                    <h3>Rooms 1</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>