#roomMenuContainer {
  md-menu {

    button {
      height: unset; width: unset; min-height: unset;
      position: fixed;
      right: 1vh;
      top: .7vh;
      padding: .6vh; margin: .8vh;
    }
    md-icon { height: 3vh; width: 3vh }
  }
}

#roomMenu {
  max-height: 45vh;
  min-width: unset;
  padding: .5vh 0;

  #linkContainer {
    font-size: 1.75vh;
    padding: 0 .5vw;
    button { height:unset; width: unset; min-heigth: unset; padding: 0; margin: 0 .6vw }
  }

  md-icon { height: 3vh; width: 3vh; min-height: unset; min-width: unset }
  md-menu-item {
    height: 3.5vh; min-height: unset;
    margin: .6vh;
    button {
      line-height: 2vh; min-height: unset; padding: 0;
      md-icon { margin: 0 .6vw }
    }
  }
  button { font-size: 1.75vh; min-width: unset; }
  md-menu-item.no-md { height: unset }
  md-progress-linear.no-md { width: unset }

  #transfersContainer { padding: 0; margin: 0 5px }
}