<div id="roomMenuContainer">
    <md-menu md-position-mode="target-right target">
        <md-button ng-click="$ctrl.open($mdOpenMenu,$event)"
                   class="md-fab md-mini md-primary menu"
                   ng-class="$ctrl.data.class">
            <md-icon md-menu-origin md-svg-icon="menu"></md-icon>
        </md-button>
        <md-menu-content width="7" id="roomMenu">
            <md-menu-item>
                <div id="linkContainer" layout="row" layout-align="space-between center">
                    {{$ctrl.roomLink}}
                    <md-button ng-click="$ctrl.copyLink()" class="md-accent md-icon-button" ngclipboard data-clipboard-text="{{$ctrl.roomLink}}">
                        <md-icon md-svg-icon="copy"></md-icon>
                    </md-button>
                </div>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.openUserList()">
                    <div layout="row" layout-align="space-between center">Users
                        <span>{{$ctrl.data.users}}<md-icon md-svg-icon="user"></md-icon></span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.openChat()">
                    <div layout="row" layout-align="space-between center">Chat
                        <span>{{$ctrl.data.counter.chat}}<md-icon md-svg-icon="chat"></md-icon></span>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item class="no-md" layout="column">
                <md-button ng-click="">
                    <div layout="row" layout-align="space-between center">Files
                        <span>{{$ctrl.data.counter.files}}<md-icon md-svg-icon="file"></md-icon></span>
                    </div>
                </md-button>
                <div id="transfersContainer"
                     ng-if="$ctrl.data.transfers.length > 0">
                    <transfer ng-repeat="transfer in $ctrl.data.transfers track by $index" data="transfer"></transfer>
                </div>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>