<div id="playerHistoryContainer"
     layout="column" layout-align="end center" layout-fill>
    <div id="history"
         flex="grow"
         ng-if="$ctrl.showHistory">
        <div class="history-item" ng-repeat="media in $ctrl.history track by $index" layout="row" layout-align="space-between end" ng-click="$ctrl.test()">
            <span>{{media.meta.title ? media.meta.title : media.name}}</span>
            <span class="since">{{$ctrl.timeSince(media.cTime)}}</span>
        </div>

    </div>
    <md-divider></md-divider>
    <md-icon md-svg-icon="{{$ctrl.showHistory ? 'down' : 'up'}}" ng-click="$ctrl.toggleHistory()"></md-icon>
    <div id="nowContainer" layout="row" layout-align="start end" flex="nogrow">
        <span flex-order="{{$ctrl.nowSettings.order}}"
              style="">{{$ctrl.now.meta.title ? $ctrl.now.meta.title : $ctrl.now.name}}</span>
        <span flex-order="{{($ctrl.nowSettings.order + 1) % 3}}">{{$ctrl.now.meta.artist ? $ctrl.now.meta.artist : null}}</span>
        <span flex-order="{{($ctrl.nowSettings.order + 2) % 3}}"
              style="">{{$ctrl.now.meta.album ? $ctrl.now.meta.album : null}}</span>
    </div>
</div>