#playerHistoryContainer {
  background: #2c2c2c;
  height: 100%; min-height: 20vh;

  #history {
    width: 100%; max-height: 50vh;
    padding: 1vh 1vw;
    font-size: 1.5vh;
    overflow-y: scroll;
    .history-item {
      margin: .7vh 0;
      span { margin: 0 .7vh }
      .since { font-size: 1.2vh }
    }
  }
  md-divider { width: 100%; margin: .5vh; }
  > md-icon { margin: unset; height: 3vh; width: 3vh }

  #nowContainer {
    font-size: 2.5vh;
    min-height: 3vh;
    overflow-x: scroll;
    white-space: nowrap;
    span { padding: .5vh 5vw }
  }
}