
#userContainer {

  md-card-title-text {
    padding: .75vw;
    line-height: 2vh;
    input {
      font-size: 1.75vh;
      border: none;
      width: 100%;
      background-color: transparent;
      color: rgb(255, 193, 7);
      line-height: 2vh;
      @media screen and (max-width: 600px) { max-width: 140px }
    }

    md-menu {
      padding: 0 .75vw;
      md-icon { height: 3vh; width: 3vh }
    }

    .options {
      padding: 5px;
      border-radius: 50%;
    }
  }

  md-card-title-media {

    .stream {
      min-width: 90%;
      width: auto; height: 21vh;
      background-color: darkgrey;
      margin: auto;
    }

    @media screen and (max-width: 600px) {
      .stream {
        //max-width: 150px; max-height: 115px;
        margin: auto;
      }
    }

    img { max-height: 100%; width: auto; }
  }



  md-card-content {
    padding: 0 .75vw;
    //@media screen and (max-width: 600px) { padding: 8px; }
  }

  #details {
    min-width: 10vw;
    min-height: 21vh;
    max-height: 45vh;
    padding-left: 2vh;
    font-size: 1.75vh;

    #profileContainer {
      padding-top: 1vh;

      md-input-container {
        margin: 0; padding: 1vh 0;
        input { background-color: transparent; border: 0; height: unset; line-height: 1.5vh }
        label { transform: translate3d(0,100%,0) scale(1); width: unset }
      }

      md-input-container.md-input-focused {
        label { transform: translate3d(0, .8vh, 0) scale(1.12) }
      }

      md-input-container.md-input-has-value {
        label { transform: translate3d(0, 1.75vh,0) scale(0.75) }
      }

      .md-errors-spacer { min-height: unset }
    }

    #chat {
      padding: 0;
      position: relative;

      @media screen and (min-width: 600px) {
        min-width: 60vh;
        min-height: 198px;
      }

      #chatInputContainer {
        background-color: #303030;

        textarea {
          background-color: #303030;
          color: #03a9f4;
          text-align: right;
          border: solid 1px #353535;
          resize: none;
          min-height: 2.3em;
          max-height: 280px;
        }

        button {
          min-width: 50px !important;
          .send-icon { margin: 5px; }
        }

      }

      #chatContentContainer {
        overflow-y: scroll;
        max-height: 250px;
        background-color: #303030;
        chat-msg { width: calc(100% - 2vw) }

        #chatMsgContainer {
          .md-avatar { height: 35px; width: 35px; }
          .cloud > div { padding-bottom: 0; }
        }
      }
    }

  }

  md-card-actions {
    margin: .3vh .3vw;
    md-icon { width: 3vh; height: 3vh; }
    button { margin: 0; padding: 0; height: unset; width: unset; min-height: unset }
  }

  .red { color: red; }
  .yellow { color: #ffc107; }
}

@keyframes featured {
   0% { background-color: #03a9f4; }
   100% { background-color: #ffc107; }
 }

.featured { animation: featured 2s; }

#userMenuContainer {
  width: 16vw; min-width: unset;
  max-height: 45vh;
  padding: 1vh 0;

  md-menu-item {
    height: 3.5vh; min-height: unset; margin: .6vh;
    button { font-size: 1.75vh; line-height: 2vh; margin: 0; padding: 0; min-height: unset }
  }

}

