<div id="userContainer" flex="nogrow" flex-xs="auto">
    <md-card>
        <md-card-title-text layout="row" layout-align="space-between center">
            <input flex-xs class="md-headline" ng-model="$ctrl.user.name" disabled>
            <md-menu>
                <md-icon ng-class="$ctrl.notify.menu" ng-click="$ctrl.openMenu($mdOpenMenu,$event)"
                         md-svg-icon="more"></md-icon>
                <md-menu-content id="userMenuContainer">
                    <md-menu-item>
                        <md-button ng-click="$ctrl.showProfile()">Profile</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.showChat()">Chat</md-button>
                    </md-menu-item>
                    <!--<md-menu-item><md-button ng-click="$ctrl.showFiles()">Files</md-button></md-menu-item>-->
                </md-menu-content>
            </md-menu>
        </md-card-title-text>
        <md-card-content layout="row" layout-align="space-around start">
            <md-card-title-media flex flex-xs="auto" layout="row" layout-align="center center">
                <video class="stream" id="{{$ctrl.user.streamId}}" ng-show="$ctrl.user.stream" autoplay></video>
                <div ng-show="!$ctrl.user.stream" class="stream" layout layout-align="center center"><img
                        src="{{$ctrl.user.photo}}"></div>
            </md-card-title-media>

            <div id="details"
                 ng-show="$ctrl.show.detail"
                 layout="column"
                 flex-xs>
                <div id="profileContainer" ng-if="$ctrl.show.profile" layout="column" flex>
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="$ctrl.user.name" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Age</label>
                        <input type="text" ng-model="$ctrl.user.age" disabled>
                    </md-input-container>
                </div>

                <chat content="$ctrl.user.chatContent"
                      ng-show="$ctrl.show.chat"
                      local-user="$ctrl.localUser"
                      remote-user="$ctrl.user"
                      flex layout="column" layout-fill></chat>

                <div id="userFiles" ng-if="$ctrl.show.files" layout="column">
                    <file ng-repeat="file in $ctrl.user.files track by $index" file="file"></file>
                </div>

                <facebook-profile user="$ctrl.user.facebook" ng-if="$ctrl.show.facebook"></facebook-profile>
                <google-profile user="$ctrl.user.google" ng-if="$ctrl.show.google"></google-profile>
            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="space-around center">
            <md-button class="md-icon-button" ng-class="$ctrl.class.icon.detail" ng-click="$ctrl.toggleDetail()">
                <md-icon ng-if="!$ctrl.show.detail" ng-class="$ctrl.class.icon.detail" md-svg-icon="forward"></md-icon>
                <md-icon ng-if="$ctrl.show.detail" ng-class="$ctrl.class.icon.detail" md-svg-icon="back"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>