#localUserMenu {
  min-width: unset; width: 16vw;
  max-height: 45vw;
  padding: .6vh 0;

  md-menu-item {
    min-height: unset; height: 3.5vh;
    margin: .6vh;

    > div { padding: 0 }
    .social-container { md-icon { width: 5vh } }

    md-icon {
      height: 3vh; width: 3vh;
      min-height: unset; min-width: unset;
    }
    button {
      min-height: unset; min-width: unset;
      line-height: 2vh; font-size: 1.75vh;
      padding: 0; margin: 0
    }
    span {
      md-icon { margin: 0 .5vw }
    }
  }
}

#localUserContainer {
    md-icon, input { outline: none }
    md-card { max-height: 37vh; margin: .8vh }

    md-card-title-text {
      padding: .75vw;
      line-height: 2vh;
      input {
        line-height: 2vh;
        font-size: 1.75vh;
        border: none;
        width: 100%;
        background-color: transparent;
        color: rgb(255, 193, 7);
        @media screen and (max-width: 600px) {  max-width: 140px;  }
      }

      md-menu {
        padding: 0 .75vw;
        md-icon { height: 3vh; width: 3vh }

      }

      .options {
        padding: 5px;
        border-radius: 50%;
      }
    }

    md-card-content {
      padding: 0 .75vw;
      height: 21vh;
    }

    md-card-title-media {
      .photo {
        min-width: 90%;
        width:auto; height: 21vh;
        background-color: darkgrey;
        margin: auto;

        @media screen and (orientation:portrait) {
          min-width: 90%;
        }

        img {
          max-height: 100%;
          width: auto;
        }
      }

      .stream {
        min-width: 90%;
        width: auto; height: 21vh;
        background-color: darkgrey;
        margin: auto;
      }

      .stream.min {
        width: 75px !important;
        height: 57px !important;
      }

    }

    #details {
      padding: 0;
      height: 100%;
      overflow-y: scroll;
      font-size: 1.75vh;

      #profileContainer {
        padding-top: 1vh; margin: 1vh;
        overflow-x: hidden;
        input {
          background-color: #303030;
          color: #03a9f4;
          border: none;
          text-align: left;
        }

        md-input-container {
          margin: 0;
          padding: 1vh 0;
          label { transform: translate3d(0,100%,0) }
          input { height: 100%; background-color: transparent }
          .md-errors-spacer { min-height: unset }
        }

        md-input-container.md-input-focused {
          label { transform: translate3d(0, .8vh, 0) scale(1.12) }
        }

        md-input-container.md-input-has-value {
          label { transform: translate3d(0, 1.75vh,0) scale(0.75) }
        }
      }

      #chatConversations {
        max-height: 23vh;
        overflow-y: scroll;
        padding: 0;

        button {
          width: 100%;
        }
      }

      #userFiles {
        max-height: 23vh;
        overflow-y: scroll;
        padding: 0;
      }

    }

    md-card-actions {
      margin: .3vh .3vw;
      padding: .5vh;

      md-icon { width: 3vh; height: 3vh }
      button {
        margin: 0; padding: 0;
        height: 3vh; width: unset;
        min-height: unset;
        overflow: visible;
      }
    }

    .red {
      color: red;
    }

    .yellow {
      color: #ffc107;
    }

    .alerted {
      animation: alert1 3s;
    }
    .alerted.fixed {
      color: #ffc107;
    }

    @keyframes alert1 {
      0% {
        color: #ffc107;
      }
      40% {
        color: #ff9d13;
      }
      70% {
        color: rgb(3, 169, 244);
      }
      100% {
        color: #ffc107;
      }
    }


  local-user.full {
    width: 40%;
  }

  local-user.start {
    align-self: flex-start;
  }
}