<div id="localUserContainer" flex="nogrow" flex-xs="auto">
    <md-card>
        <md-card-title-text layout="row" layout-align="space-between center">
            <input class="md-headline" ng-model="$ctrl.user.name" placeholder="Hello, my name is"
                   ng-change="$ctrl.updateUser()">
            <md-menu>
                <md-icon ng-class="$ctrl.user.notify.menu" ng-click="$ctrl.openMenu($mdOpenMenu,$event)"
                         md-svg-icon="more"></md-icon>
                <md-menu-content id="localUserMenu">
                    <md-menu-item>
                        <div layout="row" layout-align="space-around center" class="social-container">
                            <md-button ng-click="$ctrl.authenticate('facebook')">
                                <md-icon md-svg-icon="facebook"></md-icon>
                            </md-button>
                            <md-button ng-click="$ctrl.authenticate('google')">
                                <md-icon md-svg-icon="google"></md-icon>
                            </md-button>
                        </div>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.showProfile()">
                            <div layout="row" layout-align="space-between center">Profile
                                <span><md-icon md-svg-icon="profile"></md-icon></span>
                            </div></md-button>

                        </md-button></md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.showChat()">
                            <div layout="row" layout-align="space-between center">Chat
                                <span>{{$ctrl.user.chats.length}}<md-icon md-svg-icon="chat"></md-icon></span>
                            </div></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.showFiles()">
                            <div layout="row" layout-align="space-between center">Files
                                <span>{{$ctrl.user.notify.files}}<md-icon md-svg-icon="folder"></md-icon></span></div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-title-text>


        <md-card-content layout="row" layout-align="space-around start">

            <md-card-title-media flex flex-xs="auto"
                                 layout="row" layout-align="center center"
                                 ng-click="$ctrl.getUserMedia()">
                <video class="stream" ng-show="$ctrl.user.publisher" ng-class="$ctrl.user.streamClass" flex-xs="auto" id="{{$ctrl.id}}"></video>
                <div layout layout-align="center center" class="photo" ng-show="!$ctrl.user.publisher"><img src="{{$ctrl.user.photo}}"></div>
            </md-card-title-media>

            <div id="details" ng-if="$ctrl.show.detail" layout="column" flex>
                <div id="profileContainer" ng-if="$ctrl.show.profile" layout="column" flex>
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="$ctrl.user.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Age</label>
                        <input type="text" ng-model="$ctrl.user.age">
                    </md-input-container>
                    <md-input-container>
                        <label>Gender</label>
                        <input type="text" ng-model="$ctrl.user.gender">
                    </md-input-container>
                </div>

                <div id="chatConversations" ng-if="$ctrl.show.chat" layout="column">
                    <div layout="column" layout-align="start start">
                        {{$ctrl.user.chats.length > 0 ? "" : "There are no private chats."}}
                        <md-button ng-repeat="item in $ctrl.user.chats | orderBy: 'msgCounter' : true track by $index"
                                   ng-click="$ctrl.showRemoteChat(item.with.connectionId)">
                            <chat-conversation conversation="item" flex></chat-conversation>
                        </md-button>
                    </div>
                </div>

                <div id="userFiles" ng-if="$ctrl.show.files" layout="column">
                    {{$ctrl.user.files.length > 0 ? '' : 'There are no received files.'}}
                    <div class="file" ng-repeat="file in $ctrl.user.files track by $index">
                        <file ng-if="file.type !== 'folder'"
                              file="file"
                              mode="1"
                              on-delete="$ctrl.removeFile($id)"></file>
                        <folder ng-if="file.type === 'folder'" files="file.files"
                                on-delete="$ctrl.removeFolder($folder)"></folder>
                    </div>

                </div>

            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="space-around center">
            <md-button class="md-icon-button" ng-click="$ctrl.toggleVideo()">
                <md-icon ng-class="$ctrl.class.icon.video" md-svg-icon="cam-out"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.toggleAudio()">
                <md-icon ng-class="$ctrl.class.icon.audio" md-svg-icon="mic"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-class="$ctrl.class.icon.detail" ng-click="$ctrl.toggleDetail()">
                <md-icon ng-if="!$ctrl.show.detail" ng-class="$ctrl.class.icon.detail" md-svg-icon="forward"></md-icon>
                <md-icon ng-if="$ctrl.show.detail" ng-class="$ctrl.class.icon.detail" md-svg-icon="back"></md-icon>
            </md-button>
        </md-card-actions>

    </md-card>
</div>